@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700');

/* body{font-family: 'Fira Sans', sans-serif;padding-top:120px;color:#494D69;background: #FAFAFA;overflow-x: hidden;} */

h1, h2, h3, h4, h5, h6{font-family: 'Fira Sans', sans-serif;}

/* *, a, button, input{-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;} */
a, a:hover, a:focus{text-decoration:none;outline:none;}
button, button:hover, button:focus, button:active, input, input:hover, input:focus{outline:none;}

a{color:#53b9d0;}
a:hover{color:#3f9eb3;}

ul{margin:0;padding:0;list-style:none;}
ul.inline li{display:inline-block;}
ul.block li{display:block;}

.blue-btn{font-size:15px;color:#fff;background:#1EAAE1;border:solid 1px #1EAAE1;padding:15px 40px;font-weight:500;line-height:30px;display:inline-block;border-radius: 5px;cursor: pointer;}
.blue-btn:hover{background:none;color:#1EAAE1;}

.darkblue-btn{font-size:14px;color:#fff;background:#273679;border:solid 1px #273679;padding:6px 15px;font-weight:400;line-height:20px;display:inline-block;border-radius: 4px;cursor: pointer;}
.darkblue-btn:hover{background:none;color:#273679;}

.white-btn{font-size:22px;color:#494D69;background:#fff;border:solid 1px #fff;padding:15px 30px;text-transform:uppercase;font-weight:500;line-height:30px;display:inline-block;border-radius: 5px;cursor: pointer;}
.white-btn:hover{background:#eee;color:#494D69;background-color: #eee;}
@media(max-width:1400px){
.blue-btn{font-size:18px;padding:10px 30px;}
.white-btn{font-size:18px;padding:10px 20px;}
.darkblue-btn{font-size:18px;padding:10px 30px;}
}
@media(max-width:991px){
.blue-btn{font-size:16px;}
.white-btn{font-size:16px;}
.darkblue-btn{font-size:16px;}
}
@media (min-width: 1400px){
.container {max-width: 1330px;}
}

@media(max-width:991px){
  .chat-act{bottom: 15px;right:15px;}
  .chat-act a{width: 50px;height: 50px;}
  .chat-wrap{bottom: 80px;right:15px;}
  .chat-wrap:after{bottom: -6px;width: 30px;height: 15px;}
  }
  

.flex-box{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}

.fix-img{position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}

/*  --------------  Signin page Start  ----------------------*/
.log-wrap{position:relative;min-height:100vh;background: #FAFAFA;}
/* .log-wrap .left-sec{position:absolute;left:0;top:0;bottom:0;width:400px;padding:30px;background:#fff;box-shadow:10px 0px 30px rgba(0,0,0,0.2);min-height:100vh;z-index:1;}
.log-wrap .left-sec .inner-sec{width:100%;} */
.log-wrap .log-blk{border-radius: 4px;border:solid 1px #EAEAEA;box-shadow: 0px 6px 20px rgba(204,204,204,0.16);background: #fff;overflow: hidden;}
.log-wrap .title-sec{background: url(/static/img/log-bg.jpg) center / cover no-repeat;position: relative;height: 100%;padding: 150px 50px;text-align: center;color:#fff;}
.log-wrap .sec-logo{margin: 0 0 45px;}
.log-wrap h2{font-size: 45px;font-weight: 500;}
.title-sec .inner-title{margin: 0 auto;max-width: 350px;width: 100%;}
.title-sec h2{margin: 0 0 30px;}
.title-sec p{font-size: 16px;opacity: 0.7;font-weight: 300;margin: 0 0 80px;}
.title-sec .white-btn{text-transform: initial;min-width: 200px;}
.log-sec{padding: 100px 50px;position: relative;height: 100%;}
.log-sec .log-frm{margin: 0 auto;max-width: 390px;width: 100%;}
.log-sec h2{margin: 0 0 50px;text-align: center;}
.log-sec p{font-size: 16px;opacity: 0.7;font-weight: 300;margin: 0;color: #9499AE;}
.log-sec .darkblue-btn{display: block;width: 100%;}


.log-wrap form .checkbox{margin:0 0 30px;text-align:left;}
.log-wrap form .radio{margin:0 0 20px;}
.log-wrap form .checkbox:after{clear:both;display:block;content:'';}
.log-wrap form .forgot{float:right;color: #9499AE;font-size: 14px;line-height: 24px;}
.log-wrap form .btn-wrap{margin-top: 50px;}
.log-wrap form .com-btn{min-width:140px;}
.log-wrap .or{margin: 50px 0 40px;text-align: center;color:#9499AE;font-size: 14px;font-weight: 400;}
.log-wrap .social{margin: 0;list-style: none;padding: 0;text-align: center;}
.log-wrap .social li{margin:0 0 0 16px;display: inline-block;}
.log-wrap .social li:first-child{margin:0;}
.log-wrap .social a{display:block;}
.log-wrap .social a img{width: 27px;height: 27px;display: block;}


.form-group{margin:0 0 20px;position: relative;}
.form-group label{font-size:16px;margin:0 0 10px;line-height:16px;}
.form-control{box-shadow:none;border-radius:3;border:solid 1px #DBE2E8;font-size:16px;line-height:30px;padding:15px 25px 15px 60px;height:auto;outline:none;color:#9499AE;font-weight: 400;margin: 0;background-position: 15px 15px !important;}
[type="password"].form-control{padding:15px 60px;}
.email.form-control{background: #fff url(/static/img/email-icn.png) no-repeat;}
.pass.form-control{background: #fff url(/static/img/lock-icn.png) no-repeat;}
.role.form-control{background: #fff url(/static/img/user-blue.png) no-repeat;}
.company.form-control{background: #fff url(/static/img/briefcase-icn.png) no-repeat;}
.domain.form-control{background: #fff url(/static/img/domain-icn.png) no-repeat;}
.key.form-control{background: #fff url(/static/img/host_name.png) no-repeat;}

.view-pass{position: absolute;right: 15px;top:15px;display: block;}
.view-pass img{display: block;}
.input-group .form-control:last-child{border-radius:0 3px 3px 0;}
.form-control:focus{outline:none;box-shadow:none;border-color:#53b9d0;color:#9499AE;}
.form-control::-webkit-input-placeholder{color:#9499AE;font-weight:400;}
.form-control::-moz-placeholder{color:#9499AE;font-weight:400;}
.form-control:-ms-input-placeholder{color:#9499AE;font-weight:400;}
.form-control:-moz-placeholder{color:#9499AE;font-weight:400;}

.checkbox, .radio{margin:0;}
.checkbox label, .radio label{display:inline-block;vertical-align:0px;font-weight:400;cursor: pointer;padding-left:0;margin:0;line-height:normal;font-size:14px;padding-left:28px;position:relative;line-height: 20px;color: #9499AE;}
.radio label{color: #494D69;}
.checkbox label + label, .radio label + label{display:inline-block;margin-left:20px;}
.checkbox input[type=checkbox], .radio input[type=radio]{display:none;}
.checkbox .icn, .radio .icn{display:inline-block;width:18px;height:18px;border:solid 1px #DBE2E8;position:absolute;left:0;top:0;border-radius: 3px;}
.radio input[type=radio] ~ .icn{border-radius:50%;}
.checkbox label:hover .icn, .radio label:hover .icn{border:solid 1px #273679;}
.checkbox input[type=checkbox]:checked ~ .icn,
.radio input[type=radio]:checked ~ .icn{border:solid 1px #273679;background: #273679;}
.checkbox input[type=checkbox]:checked ~ .icn:after,
.radio input[type=radio]:checked ~ .icn:after{content:'';position:absolute;top:0px;left:0px;height:100%;width:100%;background:url(/static/img/check.png) center no-repeat;}
.radio input[type=radio]:checked ~ span:after{border-radius:50%;}


@media (min-width: 768px){
.pass-modal .modal-dialog {max-width: 600px;}
}
/* .pass-modal{} */
.pass-modal .close{position: absolute;top:30px;right:30px;opacity: 1;}
.pass-modal .modal-head{margin: 0 0 30px;}
.modal-head .head-icn{width: 50px;height: 50px;background: rgba(39,54,121,0.1);margin-right: 20px;border-radius: 50%;}
.modal-head .head-icn img{width: 100%;display: block;}
.modal-head h3{font-size: 24px;font-weight: 400;margin: 0;color: #494D69;}
.pass-modal .modal-body{padding: 30px;}
.pass-modal .btn-wrap{border-top:solid 1px #EAEAEA;padding: 20px 0 0;margin-top: 40px;}
.pass-modal .btn-wrap .btn-link{color: #9499AE;font-size: 14px;cursor: pointer;text-decoration: none;}
.pass-modal .btn-wrap .btn-link:hover{color:#494D69;}
.pass-modal .btn-wrap .darkblue-btn{font-size: 14px;font-weight: 400;padding: 5px 20px;margin-left: 10px;}

@media (max-width: 1400px){
.log-wrap .title-sec, .log-sec {padding: 50px;}
.form-control{padding: 10px 15px 10px 50px;background-position: 12px 12px !important;background-size: 26px !important;}
[type="password"].form-control{padding: 10px 50px;}
.view-pass{right: 12px;top:12px;}
.view-pass img{width: 26px;}
.log-wrap form .btn-wrap {margin-top: 30px;}
.log-wrap .or{margin: 30px 0 20px;}
.title-sec p, .log-sec h2{margin: 0 0 20px;}
.form-group, .log-wrap form .radio{margin: 0 0 15px;}
}

@media (max-width: 991px){
.log-wrap .log-blk{margin: 20px 0;}
.log-wrap .title-sec, .log-sec{padding: 30px;}
.log-wrap .sec-logo{margin: 0 0 20px;}
.log-wrap h2{font-size: 34px;}
.title-sec h2 {margin: 0 0 20px;}
}
@media (max-width: 767px){
.log-wrap .title-sec, .log-sec{padding: 30px 20px;}
.log-wrap h2{font-size: 30px;}
.title-sec p{font-size: 14px;}
.form-control{font-size: 14px;}

.pass-modal .close{top:15px;right:15px;}
.pass-modal .modal-head{margin: 0 0 20px;}
.modal-head .head-icn{width: 40px;height: 40px;margin-right: 15px;}
.modal-head h3{font-size: 20px;}
.pass-modal .modal-body{padding: 15px;}
.pass-modal .btn-wrap{padding: 15px 0 0;margin-top: 20px;}
}
@media (max-width: 400px){

}
/*  --------------  Signin page End  ----------------------*/




/*  --------------  Dashboard page End  ----------------------*/
.dash-wrap{background: #FAFAFA;}
.dash-wrap .dropdown-toggle::after{width: 7px;height: 7px;border: solid 2px #A4AFB7;border-left: 0;border-top: 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform: rotate(45deg);margin-left: 5px;vertical-align: 3px;}

.dash-head{margin: 0;background: #273679;border: 0;border-radius: 0;position: fixed;top: 0;left: 0;right: 0;z-index: 100;}
.dash-head .navbar-toggler{padding: .25rem .5rem;border: none;margin-right: 10px;}
.dash-head .navbar-toggler-icon{width: 1.3em;}
.dash-head .navbar{padding: 0;}
.dash-head .navbar-brand{padding: 10px 20px;margin: 0;}
.dash-head .navbar-brand img{max-height: 40px;}
.dash-head .nav-pills{padding:0;}
.dash-head .nav-item{padding: 13px 0;}
.dash-head .nav-pills .nav-link{padding: 0 20px;line-height: 34px;height: 34px;color: #fff;background: none;}
.dash-head .noti-drop .dropdown-toggle::after{display: none;}
/* .dash-head .user-drop{} */
.dash-head .user-drop:after{content: '';width: 1px;height: 16px;margin-top: -8px;top:50%;position: absolute;left:0;background: rgba(255,255,255,0.3);}
.dash-head .user-drop .user-img{width: 34px;height: 34px;border-radius: 50%;border:solid 1px #fff;display: inline-block;overflow: hidden;vertical-align: middle;}
.dash-head .user-drop .user-img img{width: 100%;display: block;}
.dash-head .user-drop .user-txt{display: inline-block;vertical-align: middle;font-size: 15px;font-weight: 400;margin-left: 10px;}
.dash-head .user-drop .dropdown-toggle::after{width: 7px;height: 7px;border: solid 2px #fff;border-left: 0;border-top: 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform: rotate(45deg);margin-left: 5px;vertical-align: 1px;}
.dash-head .dropdown-menu{margin: 0;border-radius: 0;border:none;left: inherit;right:0;min-width: 330px;box-shadow: 0px 2px 10px rgba(0,0,0,0.15);padding: 0;}
.dash-head .dropdown-menu:before{content: '';border-bottom: solid 10px #fff;border-left: solid 10px transparent;border-right: solid 10px transparent;position: absolute;top: -8px;right: 20px;}
.dash-head .user-drop .dropdown-menu:before{right: 14px;}
.dash-head .noti-head{padding: 10px 13px;line-height: 20px;font-size: 17px;font-weight: 400;border-bottom: solid 1px #F1F1F3;}
/* .dash-head .noti-body{} */
.noti-body .not-blk{padding: 10px 15px;background: #FAFAFA;border-bottom:solid 1px #F1F1F3;}
.noti-body .not-blk.pending{background: #fff;}
.noti-body .not-blk h5{font-size: 13px;font-weight: 500;margin: 0 0 5px;}
.noti-body .not-blk p{font-size: 11px;font-weight: 400;margin:0;color: #9499AE;}
.dash-head .noti-foot{padding: 15px;text-align: center;}
.noti-foot a{color: #273679;font-size: 11px;font-weight: 400;}
.noti-foot a .caret{width: 6px;height: 6px;border: solid 1px #273679;border-left: 0;border-top: 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform: rotate(45deg);margin-left: 5px;display: inline-block;vertical-align: 2px;}


.user-drop .dropdown-menu{min-height: calc(100vh - 100px);}
.user-drop .user-form{height: calc(100vh - 200px);overflow: auto;}
.user-drop .user-avatar{text-align: center;border-bottom: solid 1px #F1F1F3;}
.user-avatar .avatar{width: 80px;height: 80px;border:solid 2px #273679;font-size:50px;color:#FFF;border-radius: 50%;overflow: hidden;background: #494D69;position: relative;margin: 0 auto 10px;}
.user-avatar .avatar img{height: 100%;width: 100%;display: block;-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;}
.user-avatar .avatar:hover img{opacity: 0.2;}
.user-avatar .avatar:hover span{opacity: 0.2;}
.user-avatar .avatar .user-over{position: absolute;left:50%;top:50%;margin: -10px 0 0 -10px;opacity: 0;-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;}
.user-avatar .avatar:hover .user-over{opacity: 2;}
.user-avatar .avatar .user-update{position: absolute;left:0;right:0;top:0;bottom:0;opacity: 0;width: 100%;height: 100%;cursor: pointer;}
.user-avatar h3{color: #494D69;margin: 0 0 10px;padding: 0 0 10px;position: relative;font-size: 16px;font-weight: 400;}
.user-avatar h3:after{width: 28px;height: 1px;background: #F1F1F3;position: absolute;left:50%;bottom: 0;position: absolute;margin-left: -5%;content: '';}
.user-avatar p{font-size: 12px;margin: 0;color: #494D69;}
.user-avatar p span{color: #9499AE;}
/* .user-drop .user-frm{} */
.user-frm .form-group{margin: 0 0 10px;}
.user-frm label{font-size: 12px;margin: 0 0 3px;color:#494D69;font-weight: 400;}
.user-frm .form-control{padding: 8px 12px;font-size: 14px;line-height: 20px;}
.user-form .user-foot{position: absolute;left: 0;right: 0;bottom: 0;}
.user-foot .red-btn{font-size:13px;color:#fff;background:#F23D3D;border:solid 1px #F23D3D;padding:6px 20px;font-weight:400;line-height:20px;display:block;border-radius: 3px;cursor: pointer;text-align: center;width: 100%;}
.user-foot .red-btn svg{margin-right: 5px;}
.user-foot .red-btn:hover{background:#DE2727;color:#fff;}
.user-foot .btn-link, .user-foot .darkblue-btn{padding:6px 20px;font-weight:400;line-height:20px;font-size:14px;border-radius: 3px;}
.user-foot .btn-link{color:#9499AE;}
.user-foot .btn-link:hover{color: #273679;text-decoration: none;}
.user-foot .dropdown-divider{margin: 1.2rem -1.5rem;border-top:1px solid #F1F1F3;}



.sidebar {position: fixed;left: 0;top: 60px;background: #fff;z-index: 11;border-right:solid 1px #EAEAEA;padding: 0;width: 100%;}
@media(min-width:768px){
.sidebar {min-height: calc(100vh - 60px);padding: 0 0 50px;width: 230px;}
.slim.sidebar{width: 60px;}
}

.sidebar .navbar{background: none;padding: 0;}
.sidebar .navbar-nav{width: 100%;padding: 15px 0;}
.sidebar .navbar-nav .nav-item:not(:last-child){margin-bottom: 10px;}
.sidebar .navbar-nav .nav-link{padding: 0;color: #9499AE;font-size: 14px;font-weight: 400;position: relative;line-height: 20px;}
@media(min-width:768px){
.slim.sidebar .navbar-nav .nav-link .txt{display: none;}
}
.sidebar .navbar-nav .nav-link:before{width: 3px;height: 100%;content: '';background: none;border-radius: 3px;position: absolute;top: 0;right:0;}
.navbar-nav .nav-link:hover{color: #273679;}
.navbar-nav .active>.nav-link, .navbar-nav .nav-link.active{color: #273679;}
.navbar-nav .nav-link.show, .navbar-nav .show>.nav-link{color: #1EAAE1;}
.navbar-nav .active>.nav-link:before, .navbar-nav .nav-link.active:before{background: #273679;}
.sidebar .nav-link span{display: inline-block;vertical-align: middle;}
.sidebar .dropdown-toggle::after{width: 8px;height: 8px;border: solid 2px #9499AE;border-left: 0;border-top: 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform: rotate(45deg);margin-left: 5px;vertical-align: 2px;position: absolute;right: 20px;top:50%;margin-top: -6px;}
.slim.sidebar .dropdown-toggle::after{display: none;}
.sidebar .navbar-nav .nav-link.show.dropdown-toggle::after, .navbar-nav .show>.nav-link.dropdown-toggle::after{border-color: #1EAAE1;}
.sidebar .nav-link span.icn{padding: 10px 20px;padding-right: 12px;}
.sidebar .nav-link svg{width: 22px;height: 22px;fill: #9499AE;}
.sidebar .nav-link svg .st1{stroke-width:0.7;stroke:#9499AE;}
/* .sidebar .navbar-nav .nav-link:hover svg{fill: #273679;stroke:#273679;} */
.sidebar .navbar-nav .active>.nav-link svg, .navbar-nav .nav-link.active svg{fill: #273679;}
.sidebar .navbar-nav .active>.nav-link svg  .st1, .navbar-nav .nav-link.active svg .st1{stroke:#273679;}
/* .sidebar .navbar-nav .nav-link.show svg, .navbar-nav .show>.nav-link svg{fill: #1EAAE1;stroke:#1EAAE1;} */
.sidebar .navbar-nav .show>.nav-link.dropdown-toggle, .sidebar .navbar-nav .nav-link.show.dropdown-toggle{background: rgba(30,170,225,0.1);}
.sidebar .navbar-nav .show>.nav-link.dropdown-toggle::before, .sidebar .navbar-nav .nav-link.show.dropdown-toggle::before{background: #1EAAE1;}

.sidebar .switch{position: static;bottom: 0;left:0;display: block;padding: 20px 26px;line-height: 10px;}
.sidebar .switch .caret{width: 8px;height: 8px;border: solid 2px #9499AE;border-left: 0;border-top: 0;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform: rotate(135deg);display: inline-block;vertical-align: 2px;}
.slim.sidebar .switch .caret{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform: rotate(-45deg);}
.dropdown-menu .show{position: relative}
.sidebar .dropdown-menu{top: inherit;margin: 0;left:inherit;border:none;border-radius:0;box-shadow:none;padding: 8px;}
.sidebar .dropdown-menu .dropdown-item{padding: 7px 10px 7px 50px;border-radius: 5px;font-size: 13px;}
.sidebar .dropdown-menu .dropdown-item:hover{background:#FAFAFA;}
.sidebar .dropdown-menu .dropdown-item.active{background:#273679;}

@media(min-width:768px){
.sidebar.slim .dropdown-menu{top: 0;margin: 0;left: calc(100% + 3px);border-color:#EAEAEA;border-radius: 5px;box-shadow: 0px 0px 8px rgba(204,204,204,0.16);padding: 8px;min-width: 200px;}
.sidebar.slim .dropdown-menu .dropdown-item{padding: 7px 10px;border-radius: 5px;font-size: 13px;}
.sidebar.slim .dropdown-menu .dropdown-item:hover{background:#FAFAFA;}
.sidebar.slim .dropdown-menu .dropdown-item.active{background:#273679;}
}




.dash-cont {padding: 20px 0 1px;margin-left: 115px;background: #FAFAFA;}
.slim .dash-cont {margin-left: 2.4%;}
.dash-cont .container-fluid {padding: 30px 17px 1px}

.dash-cont .dash-card{margin-bottom: 30px;background: #fff;border-color: #EAEAEA;}
.dash-card .card-header{background: none;border:none;padding: 20px 25px;}
.card-header h4{font-size: 18px;font-weight: 500;line-height: 24px;padding: 2px 0;}
.card-header .card-act{margin: -3px 0;}

.card-header .card-act > * {display: inline-block;}
.card-header .card-act > * + * {margin-left: 10px;}
.card-act .form-control{padding:6px 10px;font-size: 14px;line-height: 20px;}
.card-act .red-btn{font-size:14px;color:#fff;background:#F23D3D;border:solid 1px #F23D3D;padding:6px 15px;font-weight:400;line-height:20px;display:inline-block;border-radius: 4px;cursor: pointer;text-align: center;}
.card-act .red-btn svg{margin-right: auto;}
.card-act .red-btn:hover{background:#DE2727;color:#fff;}
.card-act .darkblue-btn{font-size:14px;color:#fff;background:#273679;border:solid 1px #273679;padding:6px 15px;font-weight:400;line-height:20px;display:inline-block;border-radius: 4px;cursor: pointer;}
.card-act .darkblue-btn svg{margin-right: auto;}
.card-act .darkblue-btn:hover{background:#192765;color:#fff;}

.dash-card .card-body{padding: 0px 20px 20px;min-height: 100vh}
/* .chart-box{} */
.chart-box img{width: 100%;}


.alert-wrap{position: fixed;right: 30px;bottom:30px;z-index: 2;max-width: 460px;}
.alert-wrap .alert{margin: 0;box-shadow: 0px 2px 10px rgba(0,0,0,0.15);}
.alert-wrap .alert + .alert{margin: 10px 0 0;}
.alert-wrap .close{padding: 0;color:#A4AFB7;position: absolute;top:10px;right:10px;opacity: 1;}
.alert-wrap .close span{width: 30px;height: 30px;line-height: 30px;text-align: center;font-size: 40px;font-weight: 300;display: block;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.alert-wrap h5{font-size: 18px;margin: 0 0 10px;font-weight: 400;}
.alert-wrap p{font-size: 15px;margin: 0;font-weight: 400;color:#9499AE;}

/* .table-box{} */
.table-box .form-check{padding: 0;margin: 0;}
.form-check .form-check-input{position: inherit;margin: 0;display: none;}
.form-check label{width: 18px;height: 18px;position: relative;display: block;}
.form-check .icn{position: absolute;left:0;top:0;width: 18px;height: 18px;box-shadow:inset 0 0 0 1px #DBE2E8;border-radius: 3px;background: #fff;}
.form-check .form-check-input:checked ~ .icn{box-shadow:none;background: url(/static/img/checked.png) center / 100% no-repeat;}

.table-box td, .table-box th{padding: 10px;}
.table-box td:first-child, .table-box th:first-child{width:38px;}
.table-box thead td, .table-box thead th{background: #F7F8FB;border-color:#DBE2E8;border-width: 1px;font-size: 14px;color: #9499AE;font-weight: 400;}
.table-box thead td, .table-box thead th{border-left:solid 1px #DBE2E8;}
.table-box thead td:last-child, .table-box thead th:last-child{border-right:solid 1px #DBE2E8;border-radius: 0 4px 4px 0;}
.table-box tbody td, .table-box tbody th{border-color:#DBE2E8;font-size: 15px;color: #494D69;font-weight: 400;vertical-align: middle;}
.table-box tbody tr:hover td, .table-box tbody tr:hover th{background: #F7F8FB;}
.table-box .popover-dismiss{color: #273679;}
.table-box .action a{display: inline-block;}
.table-box .action a + a{margin-left: 10px;}
.table-box th{text-align: center}

.pagin-table{border-top: solid 1px #EAEAEA;margin: 250px 0 0;padding: 15px 0 0;}
.pagin-table .page-item{padding: 0 5px;}
.pagin-table .page-item .page-link{min-width: 38px;border-radius: 4px;background: #F7F8FB;text-align: center;color: #494D69;font-size: 18px;font-weight: 500;line-height: 20px;}
.pagin-table .page-item.active .page-link{background: #273679;color: #fff;}


@media (min-width: 768px){
.dash-modal .modal-dialog {max-width: 600px;}
}
.dash-modal{}
.dash-modal .close{position: absolute;top:30px;right:30px;opacity: 1;}
.dash-modal .modal-head{margin: 0 0 30px;}
.dash-modal .modal-body{padding: 30px;}
.dash-modal .btn-wrap{border-top:solid 1px #EAEAEA;padding: 20px 0 0;margin-top: 40px;}
.dash-modal .btn-wrap .btn-link, .dash-modal .btn-edit .btn-link{color: #9499AE;font-size: 14px;cursor: pointer;text-decoration: none;}
.dash-modal .btn-wrap .btn-link:hover{color:#494D69;}
.dash-modal .btn-wrap .darkblue-btn{font-size: 14px;font-weight: 400;padding: 5px 20px;margin-left: 10px;}

.dash-modal label{font-size: 16px;font-weight: 400;}
.dash-modal .form-control{line-height: 16px;padding: 10px 15px;}
.dash-modal select.form-control{color: #494D69;}



@media (max-width: 990px) {

}
@media (max-width: 767px) {
.dash-head .nav-pills .nav-link{padding: 0 10px;}
.dash-cont .container-fluid {padding: 15px 15px 1px}
.dash-cont {margin-left: 0;}
.slim .dash-cont {margin-left:0;}
.sidebar .switch{display: none;}

.dash-modal .close{top:15px;right:15px;}
.dash-modal .modal-head{margin: 0 0 20px;}
.dash-modal .modal-body{padding: 15px;}
.dash-modal .btn-wrap{padding: 15px 0 0;margin-top: 20px;}
}
@media (max-width: 500px) {
.dash-head .user-drop .user-txt{display: none;}
.dash-head .dropdown-menu{min-width: 300px;}
.dash-head .noti-drop .dropdown-menu{right: -80px;min-width: 300px;}
.dash-head .noti-drop .dropdown-menu:before{right:98px;}
}
.footer {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
}
/*  --------------  Dashboard page End  ----------------------*/

.chat-act{position: fixed;bottom: 30px;right:30px;z-index: 1111;}

.chat-wrap{background-image: url(/static/img/sdk-background.png); background-color: #F2F2F2; position: sticky;right:auto;border-radius: 15px 15px 0 15px;box-shadow:0px 10px 20px rgba(0,0,0,0.1);z-index: 1111;
  /* min-width: 320px;max-width: 320px;  by harsh*/
}
    
.chat-wrap .chat-head{background: #ffffff;border-radius: 15px 15px 0 0;}
.chat-head .media{
    box-shadow: 0 0 4px rgba(0,0,0,0.11);border-radius: 20px 20px 0 0; padding: 10px;
    color: #273679;
    /* background: #fff;  by harsh*/
}
.chat-head .media img{width: 35px;height: 35px;border-radius: 50%;}
.chat-head .media h5{font-size: 14px;font-weight: 400;margin: 0;}
.chat-head .media p{font-size: 12px;font-weight: 300;margin: 0;}

.chat-wrap .chat-body{
  /* max-height: 320px;min-height: 320px;  by harsh*/
  overflow: hidden auto;}
.chat-wrap .chat-footer{height: 20px;margin-top: 10px}
.chat-body .chat-inner{padding: 5px 10px;}
.chat-body .chat-row:not(:first-child){margin: 10px 0;}
.chat-body .chat-row.sender{padding-left: 30px;text-align: right;}
.chat-body .chat-row.receiver{padding-right: 30px;text-align: left;}
.chat-body .chat{color: #fff;font-size: 13px;font-weight: 300;padding: 5px 8px;border-radius: 8px;display: inline-block;text-align: left;}
.sender .chat{background: #273679;transform: scale(0);transform-origin: 0 0;animation: bounce 1000ms linear both;}
.receiver .chat,.receiver img{background: #fff;transform: scale(0);transform-origin: 0 0;animation: bounce 1000ms linear both;color: #fff}
.sender .chat.success, .receiver .chat.success{background: #53ba64 url(/static/images/mark.png) 10px 10px no-repeat;padding-left: 50px;}
.prompt .chat{background: #1eaae1;text-align: left;width: 100%;font-size: 14px;font-size: bold}
.prompt-final .chat{background: white;text-align: left;width: 100%;font-size: 14px;font-size: bold;color: black}
.prompt-title .chat{background: none;text-align: left;width: 100%;font-size: 14px;font-weight:420;color:black;margin-left: -6px}
.sub-prompt .chat{background: white;text-align: left;width: 100%;margin-left:0%;font-size: 14px;font-size: bold;color: black}
.receiver .chat li {font-weight: bolder;height: 30px;/*border-bottom: solid 1px white;*/cursor: pointer;}
.chat-row .chat-his{margin-top: 4px;}
.chat-row .chat-his .time{font-size: 12px;color:#dbe2e8;}
.chat-row .chat-his .del-note{font-size: 12px;color: #dbe2e8;padding-left: 20px;}
.chat-row .chat-his .del-note.delivered{color: #5cbd6c;background: url(/static/images/delivered.png) left center no-repeat;}

.chat-wrap .chat-txt{border-top:solid 1px #dbe2e8;border-radius: 0 0 0 15px;overflow: hidden;}
.chat-txt .form-control{line-height: 20px;font-size: 13px;color: #494D69;padding: 10px 0 10px 15px;border:none;border-radius: 0;height: auto;font-weight: 300;}
.chat-txt .form-control:focus{box-shadow: none;}
.chat-txt .form-control::-webkit-input-placeholder {color: #9499ae;}
.chat-txt .form-control::-moz-placeholder {color: #9499ae;}
.chat-txt .form-control:-ms-input-placeholder {color: #9499ae;}
.chat-txt .form-control:-moz-placeholder {color: #9499ae;}
.chat-txt .btn{ border:none;padding: 0;background-color: #fff}

@media(max-width:991px){
.chat-act{bottom: 15px;right:15px;}
.chat-act a{width: 50px;height: 50px;}
.chat-wrap{bottom: 80px;right:15px;}
.chat-wrap:after{bottom: -6px;width: 30px;height: 15px;}
}

.chat-footer{font-size: 12px;}
.chat-footer .typing-indicator{width: 100%}
.chat-footer .powered-by{float: right;margin-right: 10px;}







/*  --------------  Portal Widget Style  ----------------------*/

.portal-chat-act{position: fixed;bottom: 30px;right:30px}
.portal-chat-act a{display: block;width: 50px;height: 50px;border-radius: 50%;background: #273679 url(/static/img/chat-icn.png) center / cover no-repeat;box-shadow:0px 0px 10px rgba(0,0,0,0.5);}
.portal-chat-act a.active{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform: rotate(-45deg);background: #273679 url(/static/img/plus.png) center / cover no-repeat;}
/* .portal-chat-act.active a img{width: 100%;} */

.portal-chat-wrap{background-image: url(/static/img/sdk-background.png);pointer-events: none; background-color: #F2F2F2; position: fixed;bottom: 120px;right:30px;border-radius: 15px 15px 0 15px;box-shadow:0px 10px 20px rgba(0,0,0,0.1);z-index: 1111;min-width: 320px;max-width: 320px;opacity: 0;}
.active .portal-chat-wrap {
  pointer-events: all;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: slide-in;
  -webkit-animation-fill-mode: forwards; 
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: slide-in;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 0.8s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  opacity:1
}

.inactive .portal-chat-wrap{
  pointer-events: none;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: slide-out;
  -webkit-animation-fill-mode: forwards; 
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: slide-out;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 0.8s;
  animation-name: slide-out;
  animation-fill-mode: forwards;
  opacity:0
}
.portal-chat-wrap:after{content: '';position: absolute;right: 0;bottom: -10px;background: #ffffff;width: 40px;height: 20px;-ms-transform: skew(0deg,26deg);-webkit-transform: skew(0deg,26deg);transform: skew(0deg,26deg);}

    
.portal-chat-wrap .portal-chat-head{background: #ffffff;border-radius: 15px 15px 0 0;}
.portal-chat-head .media{
    box-shadow: 0 0 4px rgba(0,0,0,0.11);border-radius: 20px 20px 0 0; padding: 10px;
    color: #273679;
    background: #fff;
}
.portal-chat-head .media img{width: 35px;height: 35px;border-radius: 50%;}
.portal-chat-head .media h5{font-size: 14px;font-weight: 400;margin: 0;}
.portal-chat-head .media p{font-size: 12px;font-weight: 300;margin: 0;}

.portal-chat-wrap .portal-chat-body{max-height: 300px;min-height: 260px;overflow: auto;}
.portal-chat-wrap .portal-chat-footer{height: 20px;margin-top: 10px}
.portal-chat-body .chat-inner{padding: 10px;}
.portal-chat-body .portal-chat-row:not(:first-child){margin: 10px 0;}
.portal-chat-body .portal-chat-row.sender{padding-left: 30px;text-align: right;}
.portal-chat-body .portal-chat-row.receiver{padding-right: 30px;text-align: left;}
.portal-chat-body .chat{color: #fff;font-size: 13px;font-weight: 300;padding: 5px 8px;border-radius: 8px;display: inline-block;text-align: left;}
.sender .chat.success, .receiver .chat.success{background: #53ba64 url(/static/img/mark.png) 10px 10px no-repeat;padding-left: 50px;}
.prompt .chat{background: #1eaae1 !important;text-align: left;width: 100%;font-size: 14px;font-size: bold}
.receiver .chat li {font-weight: bolder;height: 30px;/*border-bottom: solid 1px white;*/cursor: pointer;}
.portal-chat-row .chat-his{margin-top: 4px;}
.portal-chat-row .chat-his .time{font-size: 12px;color:#dbe2e8;}
.portal-chat-row .chat-his .del-note{font-size: 12px;color: #dbe2e8;padding-left: 20px;}
.portal-chat-row .chat-his .del-note.delivered{color: #5cbd6c;background: url(/static/img/delivered.png) left center no-repeat;}

.portal-chat-wrap .chat-txt{border-top:solid 1px #dbe2e8;border-radius: 0 0 0 15px;overflow: hidden;}
.chat-txt .form-control{line-height: 20px;font-size: 13px;color: #494D69;padding: 10px 0 10px 15px;border:none;border-radius: 0;height: auto;font-weight: 300;}
.chat-txt .form-control:focus{box-shadow: none;}
.chat-txt .form-control::-webkit-input-placeholder {color: #9499ae;}
.chat-txt .form-control::-moz-placeholder {color: #9499ae;}
.chat-txt .form-control:-ms-input-placeholder {color: #9499ae;}
.chat-txt .form-control:-moz-placeholder {color: #9499ae;}

@media(max-width:991px){
.portal-chat-act{bottom: 15px;right:15px;}
.portal-chat-act a{width: 50px;height: 50px;}
.portal-chat-wrap{bottom: 80px;right:15px;}
.portal-chat-wrap:after{bottom: -6px;width: 30px;height: 15px;}
}

.portal-chat-footer{font-size: 12px;}
.portal-chat-footer .typing-indicator{width: 75%}
.portal-chat-footer .powered-by{float: right;margin-right: 10px;}

.portal-chat-act a.active{
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rotation-rl;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotation-rl;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: rotation-rl;
  animation-fill-mode: forwards;
}

.portal-chat-act a.inactive{
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rotation-lr;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotation-lr;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: rotation-lr;
  animation-fill-mode: forwards;
}
.spinner {
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  -o-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
  border-left: 6px solid #283879;
  border-right: 6px solid #283879;
  border-bottom: 6px solid #283879;
  border-top: 6px solid #ffffff;
  border-radius: 100%;
}

.typing-indicator p {
  float: left;
  margin: 0 1px;
  display: block;
}
.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: #000;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
  margin-left: 10px;
  margin-top: 10px
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0  , 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.group_chat_btn{position: fixed;
  right: 3%;
  bottom: 12px;}

.group_chat_btn a{display: block;
  height: 50px;
  border-radius: 45px;
  background-color: #273679;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  color: #fff;
  width: 95px;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;}


.group_chat_btn a:hover{color: #fff; text-decoration: none;}

.chatbox_cover{box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.11);
  z-index: 1000;
  border-radius: 20px;
  width: 75%;
  height: 500px;
  position: fixed;
  margin-left: -400px;
  right: 260px;
  top: 50%;
  margin-top: -220px;}


.chatbox_cover .row .col-lg-4 .left_groupsection{height: 500px; background-color: #273679; border-radius: 20px 0px 0px 20px;}
.chatbox_cover .row .col-lg-4 .left_groupsection h3{margin: 0px;
  padding: 15px 0px;
  text-align: center;
  font-size: 25px; color: #fff; border-bottom: 1px solid #eceff1;}

.chatbox_cover .row .col-lg-4 .left_groupsection .group_section ul li a{padding: 15px 20px; display: block; border-left: 3px solid #273679; color: #fff;}
.chatbox_cover .row .col-lg-4 .left_groupsection .group_section ul li.activee a{background-color: #93a7ff; border-left-color: #93a7ff;}
.chatbox_cover .row .col-lg-4 .left_groupsection .group_section ul li a:hover{border-color: #93a7ff; background-color: #93a7ff;}
.chatbox_cover .row .col-lg-4 .left_groupsection .group_section ul li a img{width: 35px; margin-right: 10px;}

a:hover{text-decoration: none !important;}

.headingdivhere h4{background-color: #ffffff; border: 2px solid e5ebee; border-radius: 20px; padding: 10px 20px; margin: 10px 10px; font-size: 15px;}

.chatbox_cover .row .col-lg-4 .left_groupsection .group_section ul{max-height: 210px;
  overflow: auto;}
.chatbox_cover .row .col-lg-8{}
.chatbox_cover .row{margin: 0px;}
.chatbox_cover .row .col-lg-4, .chatbox_cover .row .col-lg-8 {padding: 0px; }
.topfillupusername{border-bottom: 1px solid #eceff1; height: 61px; background-color: #fff; border-radius: 0px 20px 0px 0px;}
.topfillupusername .row .col-lg-1 img{width: 40px; padding-top: 10px;}
.topfillupusername .row .col-lg-11 h6{color: #4d5861;     margin: 0px;
  line-height: 59px;
  padding-left: 10px;}
.messagetype_box{height: 60px; position: relative; background-color: #fff; border-radius: 0px 0px 20px 0px;}
.messagetype_box input{width: 100%; border: hidden; height: 60px; padding: 0px 20px; color: #494D69; border-radius: 0px 0px 20px 0px;}
.messagetype_box button{background-color: transparent;
  border: hidden;
  position: absolute;
  right: 8px;
  top: 4px;}

.messagetype_box button:hover{cursor: pointer;}
.messagetype_box button:focus{outline: none;}
.message_here_display{height: 380px; background-image: url(/static/img/sdk-background.png);}

/* harsh */
.search-bar{width:300px}